@font-face {
  font-family: "AvenirNext-normal";
  src: url("../../assets/Font/AvenirNextLTPro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNext-semi-bold";
  src: url("../../assets/Font/AvenirNextLTProDemi.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "AvenirNext-bold";
  src: url("../../assets/Font/AvenirNextLTProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
