@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro.ttf") format("true type");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTProDemi.ttf") format("true type");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTProBold.ttf") format("true type");
  font-style: normal;
  font-weight: 700;
}
