//primary colours//
$bandsiteblack: #323232;
$silver: #afafaf;
$white: #ffffff;

//secondary colours//
$bandsite-darkblack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//Media Queries//
$tablet: 768px;
$desktop: 1024px;
