@font-face {
  font-family: "AvenirNext-normal";
  src: url("../../assets/Font/AvenirNextLTPro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext-semi-bold";
  src: url("../../assets/Font/AvenirNextLTProDemi.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext-bold";
  src: url("../../assets/Font/AvenirNextLTProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
.headerbox {
  font-size: 1.5rem;
  height: 1rem;
  font-weight: 700;
  background-color: #323232;
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin-bottom: auto;
  margin-top: auto;
  padding-top: 6%;
  padding-bottom: 13%;
  padding-left: 3.125rem;
  padding-right: 2.5rem;
}
.headerbox .logo {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .headerbox {
    height: 2rem;
    padding-top: 20px;
    padding-bottom: 1px;
    gap: 3%;
    padding-left: 1px;
  }
}
@media screen and (min-width: 1024px) {
  .headerbox {
    padding-left: 8px;
  }
}

.header__container {
  padding-bottom: 2px;
  padding-left: 2px;
  margin-right: 4.375rem;
  margin-left: 4.375rem;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    margin-right: 29.25rem;
    margin-left: 2%;
    padding-right: 9.375rem;
    padding-left: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .header__container {
    margin-right: 60.5rem;
  }
}

nav ul {
  margin-top: -5px;
  display: flex;
  background-color: #323232;
  font-size: 0.9375rem;
  height: 1.5rem;
  font-weight: 700;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 6.25rem;
  padding-left: 10px;
  gap: 80%;
  margin-right: 20px;
}
nav li {
  margin: 1px;
  font-weight: 100;
  list-style-type: none;
}
nav li a {
  color: #ffffff;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  nav {
    margin-top: -25px;
    margin-left: 13.75rem;
    margin-right: 18.75rem;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    margin-left: 13.75rem;
    margin-right: 34.375rem;
  }
}

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  height: 45vh;
  background-color: #000000;
  opacity: 92%;
  margin-top: -1px;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 40vh;
    margin-top: -1px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    height: 80vh;
  }
}

.hero__header {
  color: #ffffff;
  padding-left: 0.8125rem;
  padding-top: 27%;
}
@media screen and (min-width: 768px) {
  .hero__header {
    padding-left: 3rem;
    padding-top: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__header {
    padding-left: 5rem;
    padding-top: 11.875rem;
  }
}

h1 {
  position: relative;
  left: 2.25rem;
  bottom: 25.125rem;
  font-size: 4.8125rem;
  color: #000000;
  font-weight: 700;
}

h5 {
  font-weight: 400;
}

.herowords {
  display: flex;
  flex-direction: column;
}

#hero__box1 {
  margin-bottom: -80px;
  margin-right: 110px;
  margin-top: -30px;
}
@media screen and (min-width: 768px) {
  #hero__box1 {
    padding-top: 30px;
    font-size: xx-large;
  }
}
@media screen and (min-width: 1024px) {
  #hero__box1 {
    margin-top: -150px;
    padding: 0px;
  }
}

#hero__box2 {
  width: 60%;
}
@media screen and (min-width: 768px) {
  #hero__box2 {
    padding-top: 10px;
    font-size: xx-large;
  }
}
@media screen and (min-width: 1024px) {
  #hero__box2 {
    padding-top: -150px;
    width: 47%;
  }
}

.soundcloud {
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .soundcloud {
    width: 50%;
    height: 100%;
    padding-top: 10px;
    padding-left: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .soundcloud {
    width: 40%;
    margin-top: -150px;
    margin-left: 480px;
  }
}

body {
  font-family: "AvenirNext-normal", Times, sans-serif;
}

h2 h3 {
  color: #323232;
}

.show__date {
  color: #afafaf;
  font-size: small;
}
@media screen and (min-width: 768px) {
  .show__date {
    padding-left: 10px;
  }
}

.show__venue {
  color: #afafaf;
  font-size: small;
}
@media screen and (min-width: 768px) {
  .show__venue {
    padding-left: 100px;
  }
}

.show__location {
  color: #afafaf;
  font-size: small;
}

@media screen and (min-width: 768px) {
  .show__date--data {
    font-size: small;
    padding-top: 30px;
    margin-left: -50px;
  }
}

.show__venue--data {
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .show__venue--data {
    font-size: small;
    padding-top: 30px;
    margin-right: 60px;
    font-weight: 700;
  }
}
.show__location--data {
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .show__location--data {
    font-size: small;
    padding-top: 30px;
    font-weight: 700;
  }
}
.show__button--btn {
  margin-left: 20px;
  background-color: #323232;
  color: #fafafa;
  width: 310px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 1.5625rem;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .show__button--btn {
    width: 130px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .show__button--btn {
    width: 150px;
    margin-left: 170px;
  }
}

@media screen and (min-width: 768px) {
  .show__button {
    padding-top: 20px;
  }
}

.show__card {
  border-bottom: 1.5px solid #afafaf;
}
@media screen and (min-width: 768px) {
  .show__card {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
  }
}
@media screen and (min-width: 1024px) {
  .show__card {
    width: 655px;
    margin-bottom: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 700px;
    padding-left: 210px;
  }
}

@media screen and (min-width: 768px) {
  .shows__header--container {
    padding-left: 10px;
  }
}

.footer__section {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.footer__section p {
  margin-left: 7%;
}

.box1 {
  order: 1;
}
@media screen and (min-width: 768px) {
  .box1 {
    width: 50%;
    height: 25%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  .box1 {
    margin-left: 60px;
  }
}

#getintouch {
  margin-left: 7%;
  padding-top: 10%;
  margin-top: 0.25rem;
  font-size: x-large;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  #getintouch {
    font-size: xx-large;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  margin-right: 60%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .socials {
    margin-top: -64px;
    padding-left: 20%;
    margin-left: 40%;
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  .socials {
    padding-left: 6%;
    margin-left: 35%;
    width: 35%;
  }
}

.names {
  padding-left: 23px;
  width: 13.75rem;
}

@media screen and (min-width: 768px) {
  .socials__icon {
    height: 24px;
  }
}

.box2 {
  order: 2;
}
@media screen and (min-width: 768px) {
  .box2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    order: 3;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .box2 {
    gap: 1.875rem;
    padding-top: 3.75rem;
    padding-bottom: 1.875rem;
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .contact1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1;
    gap: 3px;
    padding-top: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .contact1 {
    margin-left: 2.5rem;
  }
}

.box3 {
  padding-top: 0px;
  order: 3;
}
@media screen and (min-width: 768px) {
  .box3 {
    order: 2;
    margin-top: -50px;
    margin-right: 0px;
    margin-left: 37.5rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  .box3 {
    margin-top: -100px;
    margin-left: 62.5rem;
  }
}

.footer__logo {
  margin-top: 15%;
  margin-left: 7%;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-top: 2%;
    margin-left: 5%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  .footer__logo {
    margin-left: -200px;
    margin-top: 50px;
  }
}

.box4 {
  order: 4;
}
@media screen and (min-width: 768px) {
  .box4 {
    margin-right: 18.75rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  .box4 {
    margin-left: 2.1875rem;
  }
}

#copyright {
  padding-left: 1%;
}/*# sourceMappingURL=shows.css.map */