@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

//*header*//

.headerbox {
  font-size: 1.5rem;
  height: 1rem;
  font-weight: 700;
  background-color: $bandsiteblack;
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin-bottom: auto;
  margin-top: auto;
  padding-top: 6%;
  padding-bottom: 13%;
  padding-left: 50px;
  padding-right: 40px;

  .logo {
    color: $white;
  }
  @include tablet {
    height: 4rem;
    padding-top: 15px;
    padding-bottom: 1px;
    gap: 3%;
  }
}

.header__container {
  padding-bottom: 2px;
  padding-left: 2px;
  margin-right: 70px;
  margin-left: 70px;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    color: $white;
    margin-right: 468px;
    margin-left: 2%;
    padding-right: 150px;
    padding-left: 30px;
  }
  @include desktop {
    margin-right: 968px;
  }
}
.nav {
  ul {
    margin-top: -5px;
    display: flex;
    background-color: $bandsiteblack;
    font-size: 0.9375rem;
    color: $white;
    height: 1.5rem;
    font-weight: 700;
    list-style-type: none;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 100px;
    padding-left: 10px;
    gap: 80%;
    margin-right: 20px;
  }
  & li {
    margin: 1px;
    font-weight: 100;
     color: #ffffff;
  }

  @include tablet {
    margin-top: -27px;
    margin-left: 250px;
    margin-right: 200px;
  }
  @include desktop {
    margin-left: 240px;
    margin-right: 700px;
  }
}

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  height: 45vh;
  background-color: $bandsite-darkblack;
  opacity: 90%;
  margin-top: -20px;
  @include tablet {
    height: 40vh;
    margin-top: -5%;
  }
  @include desktop {
    height: 80vh;
  }
}

.hero__header {
  color: $white;
  padding-left: 0.8125rem;
  padding-top: 27%;
  @include tablet {
    padding-left: 3rem;
  }
  @include desktop {
    padding-left: 5rem;
    padding-top: 11.875rem;
  }
}

h1 {
  position: relative;
  left: 2.25rem;
  bottom: 25.125rem;
  font-size: 4.8125rem;
  color: $bandsite-darkblack;
  font-weight: 700;
}

h5 {
  font-weight: 400;
}

.herowords {
  display: flex;
  flex-direction: column;
}

#hero__box1 {
  margin-bottom: -80px;
  margin-right: 110px;
  margin-top: -30px;
  @include tablet {
    margin-bottom: 80px;
  }
  @include desktop {
    margin-bottom: -220px;
  }
}

#hero__box2 {
  width: 60%;
}

.soundcloud {
  padding-left: 20px;
}

//*sections*//

body {
  font-family: "AvenirNext-normal", Times, sans-serif;
}

h2 h3 {
  color: $bandsiteblack;
}

//*shows--section*//

//*footer*//
.footer__section {
  background-color: $bandsiteblack;
  color: $white;
  display: flex;
  flex-direction: column;
  p {
    margin-left: 7%;
  }
}
.box1 {
  order: 1;
  @include tablet {
    width: 50%;
    height: 25%;
    @include desktop {
      margin-left: 60px;
    }
  }
}

#getintouch {
  margin-left: 7%;
  padding-top: 10%;
  margin-top: 0.25rem;
  font-size: x-large;
  color: $white;
  @include tablet {
    font-size: xx-large;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  margin-right: 60%;
  justify-content: space-evenly;
  margin-bottom: 20px;
  @include tablet {
    margin-top: -64px;
    padding-left: 20%;
    margin-left: 40%;
    width: 40%;
    @include desktop {
      padding-left: 1%;
      margin-left: 35%;
      width: 35%;
    }
  }
}

.names {
  padding-left: 23px;
  width: 220px;
}

.socials__icon {
  @include tablet {
    height: 24px;
  }
}

.box2 {
  order: 2;
  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 10px;
    order: 3;
    padding-top: 40px;
  }
  @include desktop {
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-left: 50px;
  }
}

.contact1 {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1;
    gap: 3px;
    padding-top: 15px;
  }
  @include desktop {
    margin-left: 40px;
  }
}

.box3 {
  padding-top: 0px;
  order: 3;
  @include tablet {
    order: 2;
    margin-top: -50px;
    margin-right: 0px;
    margin-left: 600px;

    @include desktop {
      margin-top: -100px;
      margin-left: 1000px;
    }
  }
}

.footer__logo {
  margin-top: 15%;
  margin-left: 7%;
}
.box4 {
  order: 4;
  @include tablet {
    margin-right: 300px;
    @include desktop {
      margin-left: 35px;
    }
  }
}

#copyright {
  padding-left: 1%;
}
