@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

//*header*//

.headerbox {
  font-size: 1.5rem;
  height: 1rem;
  font-weight: 700;
  background-color: $bandsiteblack;
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin-bottom: auto;
  margin-top: auto;
  padding-top: 6%;
  padding-bottom: 13%;
  padding-left: 3.125rem;
  padding-right: 2.5rem;

  .logo {
    color: $white;
  }
  @include tablet {
    height: 2rem;
    padding-top: 20px;
    padding-bottom: 1px;
    gap: 3%;
    padding-left: 1px;
  }
  @include desktop {
    padding-left: 8px;
  }
}

.header__container {
  padding-bottom: 2px;
  padding-left: 2px;
  margin-right: 4.375rem;
  margin-left: 4.375rem;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    color: $white;
    margin-right: 29.25rem;
    margin-left: 2%;
    padding-right: 9.375rem;
    padding-left: 30px;
  }
  @include desktop {
    margin-right: 60.5rem;
  }
}
nav {
  ul {
    margin-top: -5px;
    display: flex;
    background-color: $bandsiteblack;
    font-size: 0.9375rem;
    height: 1.5rem;
    font-weight: 700;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 6.25rem;
    padding-left: 10px;
    gap: 80%;
    margin-right: 20px;
  }
  & li {
    margin: 1px;
    font-weight: 100;
    list-style-type: none;

    & a {
      color: $white;
      text-decoration: none;
    }
  }

  @include tablet {
    margin-top: -25px;
    margin-left: 13.75rem;
    margin-right: 18.75rem;
  }
  @include desktop {
    margin-left: 13.75rem;
    margin-right: 34.375rem;
  }
}

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  height: 45vh;
  background-color: $bandsite-darkblack;
  opacity: 92%;
  margin-top: -1px;
  @include tablet {
    height: 40vh;
    margin-top: -1px;
  }
  @include desktop {
    height: 80vh;
  }
}

.hero__header {
  color: $white;
  padding-left: 0.8125rem;
  padding-top: 27%;
  @include tablet {
    padding-left: 3rem;
    padding-top: 10px;
  }
  @include desktop {
    padding-left: 5rem;
    padding-top: 11.875rem;
  }
}

h1 {
  position: relative;
  left: 2.25rem;
  bottom: 25.125rem;
  font-size: 4.8125rem;
  color: $bandsite-darkblack;
  font-weight: 700;
}

h5 {
  font-weight: 400;
}

.herowords {
  display: flex;
  flex-direction: column;
}

#hero__box1 {
  margin-bottom: -80px;
  margin-right: 110px;
  margin-top: -30px;
  @include tablet {
    padding-top: 30px;
    font-size: xx-large;
  }
  @include desktop {
    margin-top: -150px;
    padding: 0px;
  }
}

#hero__box2 {
  width: 60%;
  @include tablet {
    padding-top: 10px;
    font-size: xx-large;
  }
  @include desktop {
    padding-top: -150px;
    width: 47%;
  }
}

.soundcloud {
  padding-left: 20px;
  @include tablet {
    width: 50%;
    height: 100%;
    padding-top: 10px;
    padding-left: 50px;
  }
  @include desktop {
    width: 40%;
    margin-top: -150px;
    margin-left: 480px;
  }
}

//*sections*//

body {
  font-family: "AvenirNext-normal", Times, sans-serif;
}

h2 h3 {
  color: $bandsiteblack;
}

.show__date {
  color: $silver;
  font-size: small;
  @include tablet {
    padding-left: 10px;
  }
}

.show__venue {
  color: $silver;
  font-size: small;
  @include tablet {
    padding-left: 100px;
  }
}

.show__location {
  color: $silver;
  font-size: small;
}

.show__date--data {
  @include tablet {
    font-size: small;
    padding-top: 30px;
    margin-left: -50px;
  }
}

.show__venue--data {
  font-weight: 400;
  @include tablet {
    font-size: small;
    padding-top: 30px;
    margin-right: 60px;
    font-weight: 700;
    @include desktop {
    }
  }
}

.show__location--data {
  font-weight: 400;
  @include tablet {
    font-size: small;
    padding-top: 30px;
    font-weight: 700;
    @include desktop {
    }
  }
}

.show__button--btn {
  margin-left: 20px;
  background-color: #323232;
  color: #fafafa;
  width: 310px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 1.5625rem;
  margin-top: 10px;
  @include tablet {
    width: 130px;
    margin-right: 50px;
  }
  @include desktop {
    width: 150px;
    margin-left: 170px;
  }
}

.show__button {
  @include tablet {
    padding-top: 20px;
  }
}

.show__card {
  border-bottom: 1.5px solid $silver;
  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
  }
  @include desktop {
    width: 655px;
    margin-bottom: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 700px;
    padding-left: 210px;
  }
}

.shows__header--container {
  @include tablet {
    padding-left: 10px;
  }
}
//*end of shows--section*//

//*footer*//
.footer__section {
  background-color: $bandsiteblack;
  color: $white;
  display: flex;
  flex-direction: column;
  p {
    margin-left: 7%;
  }
}
.box1 {
  order: 1;
  @include tablet {
    width: 50%;
    height: 25%;
    @include desktop {
      margin-left: 60px;
    }
  }
}

#getintouch {
  margin-left: 7%;
  padding-top: 10%;
  margin-top: 0.25rem;
  font-size: x-large;
  color: $white;
  @include tablet {
    font-size: xx-large;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  margin-right: 60%;
  justify-content: space-evenly;
  margin-bottom: 20px;
  @include tablet {
    margin-top: -64px;
    padding-left: 20%;
    margin-left: 40%;
    width: 40%;
    @include desktop {
      padding-left: 6%;
      margin-left: 35%;
      width: 35%;
    }
  }
}

.names {
  padding-left: 23px;
  width: 13.75rem;
}

.socials__icon {
  @include tablet {
    height: 24px;
  }
}

.box2 {
  order: 2;
  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 10px;
    order: 3;
    padding-top: 40px;
  }
  @include desktop {
    gap: 1.875rem;
    padding-top: 3.75rem;
    padding-bottom: 1.875rem;
    margin-left: 2.5rem;
  }
}

.contact1 {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1;
    gap: 3px;
    padding-top: 15px;
  }
  @include desktop {
    margin-left: 2.5rem;
  }
}

.box3 {
  padding-top: 0px;
  order: 3;
  @include tablet {
    order: 2;
    margin-top: -50px;
    margin-right: 0px;
    margin-left: 37.5rem;

    @include desktop {
      margin-top: -100px;
      margin-left: 62.5rem;
    }
  }
}

.footer__logo {
  margin-top: 15%;
  margin-left: 7%;
  @include tablet {
    margin-top: 2%;
    margin-left: 5%;
    @include desktop {
      margin-left: -200px;
      margin-top: 50px;
    }
  }
}

.box4 {
  order: 4;
  @include tablet {
    margin-right: 18.75rem;
    @include desktop {
      margin-left: 2.1875rem;
    }
  }
}

#copyright {
  padding-left: 1%;
}
